.classStyle{
    height: 400px;
    text-align: center;
    align-items: center;
    animation: cardfade 1s linear;
}

@keyframes cardfade {
    from { opacity: 0; }
    to { opacity: 1; }
}
.textStyle{
    border-width: 1px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-color: #7f8fa6;
    color: #7f8fa6;
    background-color:white;
    font-size: 1rem;
    width: 98%;
    margin: 5px;
    transition: 1s;
}

.buttonStyle{
    display:block;
    border: none;
    border-color: #7f8fa6;
    cursor: pointer;
    margin-left: 50px;
    width: 300px;
    background-color: white;
    font-size: 1.1rem;
}

.textStyle:hover{
    color: black;
}