.cardStyle{
    font-family: 'Lato', sans-serif;
    background-color: rgba(255,255,255,1);
    border-style: solid;
    border-width: 1px;
    border-color: #eee;
    width: 600px;
    margin: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    animation: cardfade 1s linear;
}

@keyframes cardfade {
    from { opacity: 0; }
    to { opacity: 1; }
}

.cardContent {
    display:flex;
    flex:1;
    flex-direction: row;
}

.songTitle {
    color: #22313f;
    font-size: 1.5rem;
    margin-top: -20px;
    width: 200px;
}

.artist {
    color: #7f8fa6;
    font-size: 1.25rem;
    margin-top: -5px;
    width: 200px;
}

.imgStyle {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 5px;
}

.textContainer{
    float: right;
    margin-left: 10px;
    margin-top: 25px;
    text-align: left;
}

.playButton{
    height: 50px;
    width: 50px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: -5px;
}

.ranking {
    float: right;
    margin-top: 5px;
    margin-left: 120px;
    width: 150px;
    color: #7f8fa6;
    font-size: 1.25rem;
}