.App {
  text-align: center;
}
.body{
  background-color: #1B9CFC;
  display: flex;
  flex: 1;
  flex-direction: row;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color:#1B9CFC;
  position: fixed;
  height: 100px;
  top: 0px;
  left: 0px;
  width: 100%;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.videoPlay{
  background-color: white;
  position: fixed;
  left: 90px;
  top: 100px;
}

.songChoice{
  margin-right: 60px;
  margin-top: 90px;
  float: right;
}

.leftSide{
  position: fixed;
  color: white;
  left: 90px;
  top: 810px;
  font-size: 2rem;
  font-weight: bold;
}